section{
 display: flex;
  flex-flow: row wrap;
  background-color:blue;
  border:solid black 2px;
  
}

article{
  background-color:white;
  max-widtg:33w;
  border:solid black 2px;
  margin:10px;
  padding:20px;

}
